*{
	box-sizing: border-box;
}
.container{
	width: 350px;
	border: 1px solid #999999;
	border-radius: 5px;
	background: #ffffff;
	padding: 20px;
}
.angka{
	margin:5px;
}

.nilai {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	padding: 5px;
}

.cl_hs {
	margin:5px;
}

.clear{
	width :147px;
	height: 40px;
	background: #888;
	border-radius: 5px;
}

.hasil{
	width: 147px;
	height: 40px;
	border-radius: 5px;
}

.operand{
	margin:5px;
}

.operation {
	width:50px;
	height: 40px;
	border-radius: 5px;
}

.samadengan {
	width:80px;
	height: 40px;
	border-radius: 5px;
}

